## default is ignore for all files
/*
.*

## Do not ignore directories 
!*/

## But ignore these directories
/bin

## not ignore
# Everything in resources
!/resources
!/lib
!/utils

# Only one file in properties
/properties
!/properties/properties.xml

!.git
!.gitignore
!build.xml
!ChangeLog
!license-headers
!LICENSE
!NOTICE
!kscope
!manifest.txt
!*.md
!*.sh

# include only these files in remote
/remote/**/*.yml
!/remote/**/*sample.yml

## ignore
.DS*
