## default is ignore for all files
/*
.*

## Do not ignore directories 
!*/
## But ignore these directories
/bin

## not ignore
# Everything in resources
!/resources

# Only one file in properties
/properties
!/properties/properties.xml

!.git
!.gitignore
!/build.xml
!ChangeLog
!license-headers
!LICENSE
!NOTICE
!/manifest.txt
!*.md
!*.sh
!/kscope
!/kscope.jar
!/SSHconnect.jar

# include only these files in remote
/remote/**/*.yml
!/remote/**/*sample.yml

## ignore
.DS*
