## default is ignore for all files
/*
.*

## not ignore

!/resources
!/lib
!/utils

# Only one file in properties
!/properties/properties.xml

# include only these files in remote
!/properties/remote/**/*sample.yml

!.git
!.gitignore
!build.xml
!ChangeLog
!license-headers
!LICENSE
!NOTICE
!manifest.txt
!*.md
!*.sh

## ignore
.DS*
